body {
	background-color: #222326;
}

h1 {
	font-family: Cabin, sans-serif;
	font-size: 32px;
	margin: 18px 0px;
}

h2 {
	font-family: Cabin, sans-serif;
	font-size: 26px;
	margin: 16px 0px;
}

p {
	font-family: Cabin, sans-serif;
	font-size: 20px;
	margin: 14px 0px;
}

a:link {
	color: white;
}

a:hover {
	color: #ba4423;
}

.textcenter {
	text-align: center;
}

.blackfont {
	color: black;
}

.greyfont {
	color: #222326;
}

.whitefont {
	color: white;
}

.header {
	display: block;
    margin: auto;
	padding: 4px 16px 16px;
}
	
.section {
	margin: auto;
	border-radius: 32px;
	background: #fbf8f8;
	padding: 4px 26px 26px;
	max-width: 716px;
}

.button {
	background-color: #ba4423;
	border: none;
	color: white;
	border-radius: 25px;
	padding: 8px 32px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: Cabin, sans-serif;
    font-size: 20px;
    margin: 6px 0px;
    cursor: pointer;
}

.button.pdf  {
	padding: 8px 16px;
}

.button img {
	width: 16px;
	height: 16px;
}

.button:hover {
	background-color: #ea5d35;
	color: white;
}