body {
	background-color: #222326;
	padding: 20px;
}

h1 {
	font-family: Cabin, sans-serif;
	font-size: 32px;
	margin: 18px 0px;
}

h2 {
	font-family: Cabin, sans-serif;
	font-size: 26px;
	margin: 16px 0px;
}

p {
	font-family: Cabin, sans-serif;
	font-size: 20px;
	margin: 14px 0px;
}

a:link {
	color: white;
}

a:hover {
	color: #ba4423;
}

.textcenter {
	text-align: center;
}

.blackfont {
	color: black;
}

.greyfont {
	color: #222326;
}

.whitefont {
	color: white;
}

.header {
	display: block;
  margin: auto;
	max-width: 100%;
	padding: 4px 16px 16px;
}

.section {
	margin: 20px auto;
	border-radius: 32px;
	background: #fbf8f8;
	padding: 4px 26px 26px;
	max-width: 716px;
}

.linkwrapper {
	padding: 10px 0;
	text-align: center;
}

.button {
	background-color: #ba4423;
	border: none;
	color: white;
	border-radius: 25px;
	padding: 8px 20px;
	text-align: center;
  text-decoration: none;
  display: inline-block;
	font-family: Cabin, sans-serif;
  font-size: 20px;
  margin: 6px 0px;
  cursor: pointer;
	width: 220px;
}

.button:hover {
	background-color: #ea5d35;
	color: white;
}

.button.disabled {
	cursor: not-allowed;
	background-color: #777777 !important;
}

.button.pdf {
	margin-left: 10px;
	width: 35px;
}
